# Librerie di base
requests
beautifulsoup4
pandas
schedule
apscheduler
cryptography
pytest
streamlit
xlsxwriter
pyinstaller
flask
fake-useragent
matplotlib
joblib
scikit-learn
psutil


# Database
psycopg2
sqlalchemy

# Machine Learning
XGBoost
tensorflow
optuna

# API e Scraping
ShopifyAPI
selenium
selenium-stealth
webdriver-manager
boto3
python-amazon-paapi

# Server per Render
gunicorn


python-telegram-bot